extends layout

include cabecera

block contenido
  script(src="/js/hammer.min.js")
  script(src="/js/touch.js")
  
  script.
  
    // MD devuelve las imágenes en imgs dentro de ps, 
    // acá las reemplazo por divs con background
    
    let corregir_imagenes = () => {
      document.querySelectorAll('p img').forEach(i => {
          let d = document.createElement('div')
          d.classList.add('ventana')
          console.log(i.getAttribute('src'))
          d.style.setProperty('--url-imagen', `url(${i.getAttribute('src')})`)
          i.parentElement.replaceWith(d)
          i.style.opacity = 0
          d.appendChild(i)
        }) 
      }
      window.addEventListener('load', corregir_imagenes)
    
  //- El contenido viene en html, del md parseado
  article.texto.escrito!= cont
    address.firma.piel
      p Sebastián Rojo
      p "El Silencio Donde Escucho"
