
block cabecera
  //- script(src='/js/scroll.js', type='text/javascript')

  //- div#topbar

  div#cabecera.contraida
    //- script.
    //-   document.querySelector("#cabecera").addEventListener("mouseenter", e => {
    //-     console.log("entrando")
    //-     console.log(e)
    //-     e.target.classList.remove("contraida")
    //-     })
    //-   document.querySelector("#cabecera").addEventListener("mouseleave", e => {
    //-     console.log("saliendo")
    //-     console.log(e)
    //-     e.target.classList.add("contraida")
    //-     })
    div.intro
      h1
        a(href="/", title="El Silencio donde Escucho", rel="home") El Silencio donde Escucho
      div.frase
        p "El Amor es el principio y el fin, y en el Amor trabajamos y servimos. La larga jornada termina en la gloria de la renunciación personal y en la dedicación al servicio viviente." 
        p — A. A. Bailey
