block cabecera
  script(src="/js/buscar.js")
  header.contraido
    h1
      a(href="/", title="El Silencio Donde Escucho", rel="home") El Silencio Donde Escucho
    div#area_busqueda
      div.icon#brujula(onclick="abrir_busqueda()")
      input#busqueda(type="text", onkeyup="buscar(this)")
  div#panel

  script.
    let h = document.querySelector('header')
    h.addEventListener('mouseenter', () => h.classList.add('activo'))
    h.addEventListener('mouseleave', () => h.classList.remove('activo'))
    
    if(!window.visto){
      setTimeout(() => h.classList.add('activo'), 1000)
      setTimeout(() => h.classList.remove('activo'), 5000)      
    }
