
block cabecera
  script(src='/js/scroll.js', type='text/javascript')

  div#topbar

  div#cabecera
    div.intro
      h1
        a(href="/", title="El Silencio donde Escucho", rel="home") El Silencio donde Escucho
      div.frase
        p "El Amor es el principio y el fin, y en el Amor trabajamos y servimos. La larga jornada termina en la gloria de la renunciación personal y en la dedicación al servicio viviente." 
        p — A. A. Bailey
      
    nav
      li 
        a(href='/escritos') 
          p Escritos
        div.btn#indice(onclick='location="/escritos"')
        //- li
        //-   a(href='/propuestas') Propuestas de trabajo
        //- li
        //-   a(href='/esde') ESDE
     
