block cabecera
  script(src="/js/buscar.js")
  header.contraido
    h1
      a(href="/", title="El Silencio donde Escucho", rel="home") El Silencio donde Escucho
    div#area_busqueda
      div.icon#brujula(onclick="abrir_busqueda()")
      input#busqueda(type="text", onkeyup="buscar(this)")
  div#panel
