block cabecera

  header
    h1
      a(href="/", title="El Silencio donde Escucho", rel="home") El Silencio donde Escucho
    nav
      a(href="/escritos/", title="Escritos") Escritos
      a(href="/propuestas/", title="Propuestas") Propuestas
      a(href="/esde/", title="ESDE") ESDE
