
  <style>
    #form-checkout {
      display: flex;
      flex-direction: column;
      max-width: 600px;
    }

    .container {
      height: 1.2em;
      padding: 1px 2px;
      border: none;
      text-align: center;
      border-bottom: 1px solid gainsboro;
      width: 80%;
      margin: 0 1em;
      margin-bottom: 1em;
    }

    .container *{
      font-family: 'Reenie Beanie';
      font-size: 1em;
      font-weight: 100;
    }

    .container:focus{
      outline: none;
    }

    button{
      background-image: url(/img/preventa/botonnopresionado.png);
      background-color: #fff0;
      font-family: 'Reenie Beanie';
      font-size: 1.5em;
      border: none;
      cursor: pointer;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    button:active{
      transform: translateY(5px);
      background-image: url(/img/preventa/botonpresionado.png);
    }

    select{
      margin: 0 1em;
      margin-bottom: 1em;
      font-family: 'Reenie Beanie';
      font-size: 1.5em;
      border: none;
      text-align: center;
      border-bottom: 1px solid gainsboro;
      background: none;
    }

    input{
      margin: 0 1em;
      margin-bottom: 1em;
      border: none;
      border-bottom: 1px solid gainsboro;
      font-family: 'Reenie Beanie';
      font-size: 1.5em;
      /* font-family: 'Reenie Beanie'; */
    }

    input:focus{
      outline: none;
    }

    .fila{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    @media screen and (max-width: 590px) {
     .fila {
       flex-direction: column;
     }
     input{
       font-size: 2.5em;
     }
     select{
       font-size: 2.5em;
     }
     button{
       font-size: 2.5em;
     }
     .container {
       height: 2em;
     }
     .container *{
       font-size: 2em;
     }
    }

    #form-checkout__securityCode{ width: 40%; }
    #form-checkout__expirationDate{ width: 40%; }
    #form-checkout__issuer{ visibility: collapse; }
    #form-checkout__installments{ visibility: collapse; }
    .progress-bar{ visibility: collapse; }

  </style>

  <form id="form-checkout">
    <label for="form-checkout__cardNumber">Número de tarjeta</label>
    <div id="form-checkout__cardNumber" class="container"></div>
    <div class="fila">
      <div>
        <label for="form-checkout__expirationDate">Fecha de expiración</label>
        <div id="form-checkout__expirationDate" class="container"></div>
      </div>
      <div>
        <label for="form-checkout__securityCode">Código de seguridad</label>
        <div id="form-checkout__securityCode" class="container"></div>
      </div>
    </div>
    <label for="form-checkout__cardholderName">Nombre y apellido (como figura en la tarjeta)</label>
    <input type="text" id="form-checkout__cardholderName" />
    <!-- <label for="form-checkout__issuer"></label> -->
    <select id="form-checkout__issuer"></select>
    <!-- <label for="form-checkout__installments"></label> -->
    <select id="form-checkout__installments"></select>
    <div class="fila">
      <div>
        <label for="form-checkout__identificationType">Tipo de documento</label>
        <select id="form-checkout__identificationType"></select>
      </div>
      <div>
        <label for="form-checkout__identificationNumber">Número de documento</label>
        <input type="text" id="form-checkout__identificationNumber" />
      </div>
    </div>
    <label for="form-checkout__cardholderEmail">Email titular</label>
    <input type="email" id="form-checkout__cardholderEmail" />

    <button type="submit" id="form-checkout__submit">Enviar</button>
    <progress value="0" class="progress-bar">Cargando...</progress>
  </form>
  <script>

  const initFormularioTarjeta = () => {

    if (document.querySelector("#monto_planilla input").value == "") return;

    const cardForm = mp.cardForm({
      amount: document.querySelector("#monto_planilla input").value,
      iframe: true,
      form: {
        id: "form-checkout",
        cardNumber: {
          id: "form-checkout__cardNumber",
          placeholder: "Numero de tarjeta",
          style: {
            fontSize: "3em",
            fontFamily: "Reenie Beanie"
          }
        },
        expirationDate: {
          id: "form-checkout__expirationDate",
          placeholder: "MM/YY",
          style: {
            fontSize: "2em",
            fontFamily: "Reenie Beanie",
            width: "3em",
            textAlign: "center"
          }
        },
        securityCode: {
          id: "form-checkout__securityCode",
          placeholder: "Código",
          style: {
            fontSize: "2em",
            fontFamily: "Reenie Beanie",
            width: "3em",
            textAlign: "center"
          }
        },
        cardholderName: {
          id: "form-checkout__cardholderName",
          placeholder: "Titular de la tarjeta",
        },
        issuer: {
          id: "form-checkout__issuer",
          placeholder: "Banco emisor",
        },
        installments: {
          id: "form-checkout__installments",
          placeholder: "Cuotas",
        },
        identificationType: {
          id: "form-checkout__identificationType",
          placeholder: "Tipo de documento",
        },
        identificationNumber: {
          id: "form-checkout__identificationNumber",
          placeholder: "Número del documento",
          width: "5em"
        },
        cardholderEmail: {
          id: "form-checkout__cardholderEmail",
          placeholder: "E-mail",
        },
      },
      callbacks: {
        onFormMounted: error => {
          if (error) return console.warn("Form Mounted handling error: ", error);
          console.log("Form mounted");
        },
        onSubmit: event => {
          event.preventDefault();

          const {
            paymentMethodId: payment_method_id,
            issuerId: issuer_id,
            cardholderEmail: email,
            amount,
            token,
            installments,
            identificationNumber,
            identificationType,
          } = cardForm.getCardFormData();

          fetch("/pago", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              nombre: document.querySelector('#nombre_planilla input').value,
              email: document.querySelector('#mail_planilla input').value,
              token,
              issuer_id,
              payment_method_id,
              transaction_amount: Number(amount),
              installments: Number(installments),
              description: "Contribución libro Presencia",
              payer: {
                email,
                identification: {
                  type: identificationType,
                  number: identificationNumber,
                },
              },
            }),
          }).then(r => r.json()).then(
            r => {
              console.log(`Recibida respuesta:`);
              console.log(r);
              const paths = {
                approved: '/pago_aprobado?detail=',
                in_process: '/pago_pendiente?detail=',
                rejected: '/pago_fallido?detail=',
                error: '/pago_fallido?detail='
              }
              document.location = paths[r.status] + r.status_detail;
            }
          );
        },
        onFetching: (resource) => {
          console.log("Fetching resource: ", resource);

          // Animate progress bar
          const progressBar = document.querySelector(".progress-bar");
          progressBar.removeAttribute("value");

          return () => {
            progressBar.setAttribute("value", "0");
          };
        }
      },
    });

  }

  </script>
