extends layout

//- include cabecera

block contenido
  
  div#editor
    div#controles
      div.btn#texto(title='Editor [E]')
      div.btn#preview(title='Vista previa [P]')
      div.btn#archivos(title='Textos [A]')
      div.btn#imgs(title='Imágenes [I]')
      //- div.btn#menu(title='Índice', onclick='toggle("#indices")')
      //- div.btn#csss(title='CSS', onclick='load_pieles()')
      div.btn#logout(title='Salir')
      
    div.panel#arbol
    div.panel#imagenes
      div
        div.btn#subir_imagen(title='Cargar imagen')
        input#archivo_imagen(type='file')
        div.btn#borrar_imagen(title='Borrar imagen')
      div#vitrina
    div.panel#md.vacio
      div
        div.btn#nuevo(title='Nuevo texto')
        div.btn#guardar(title='Guardar cambios')
        div.btn#reset(title='Descartar cambios')
        input#nombre(title='Titulo')
        div.btn#borrar(title='Borrar')
        //- div.btn#status(title='Hay cambios sin guardar')
        div.btn#cerrar(title='Cerrar')
      textarea#texto_md
    div.panel#previa.escrito.expandido
    //- div.panel#indices
    //- div.panel#css
    

  //- jstree
  script(src="/js/jstree.min.js")
  //- link(rel="stylesheet", href="/js/style.min.css")
  
  script(src="/front/editor.bundle.js")
