extends layout

include cabecera

block contenido
  script(src="/js/hammer.min.js")
  script.
    var hammertime = new Hammer(document.querySelector('body'));
    hammertime.get('pinch').set({ enable: true });
    hammertime.on('pinch', (ev) => {
      console.log(ev);
      document.querySelector('#contenido').style.background = "gray"
    });

  
    
  
    let corregir_imagenes = () => {
      document.querySelectorAll('p img').forEach(i => {
          let d = document.createElement('div')
          d.classList.add('ventana')
          console.log(i.getAttribute('src'))
          d.style.setProperty('--url-imagen', `url(${i.getAttribute('src')})`)
          i.parentElement.replaceWith(d)
          i.style.opacity = 0
          d.appendChild(i)
        }) 
      }
      window.addEventListener('load', corregir_imagenes)
    

  div.escrito!= cont
    div.firma.piel
      p Sebastán Rojo
      p "El Silencio Donde Escucho"
