extends layout

include cabecera

block contenido
  
  link(rel="stylesheet", href="/css/vidriera.css")
  
  nav
    svg.vidriera(viewBox="-2200 -2000 5000 4000")
    
  include telon
  
  script(src='/js/vidriera/vidriera.js' type='module')
