extends layout

include cabecera

block contenido
  script(src="https://d3js.org/d3.v6.min.js")
  
  link(rel="stylesheet", href="/css/vidriera.css")
  
  nav
    svg.vidriera(viewBox="-2200 -2000 5000 4000")
  
  script(src='/js/vidriera.js')
