doctype html
html
  head
    title= titulo
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/pieles.css')
    link(rel='stylesheet', href='/css/mobile.css')
    link(href='/icon/leaf.png', rel='icon')
    script(src='/js/jquery.min.js')
    script(src='/js/lodash.js')
    script(src='/js/d3.v6.min.js')
    script(src='/js/general.js')
    script(src='/js/cookie.js')
  body
    block cabecera
    main
      dialog#flash
        p
        a(href='#', onclick="$('#flash').removeClass('expandido')") X
      block contenido
    
