doctype html
html
  head
    title= 'El Silencio Donde Escucho'
    link(rel='stylesheet', href='/css/style.css')
    link(href='/icon/flor_sola.png', rel='icon')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.14/jstree.min.js" integrity="sha512-OQ2by9SrJBwcXaeYmkG2t6FVZiwpyRtFar2VvULjuq5OjVpJLwsUHuNzN9PClqEJAYsWsRPSb4TTfriZzPGiow==" crossorigin="anonymous" referrerpolicy="no-referrer")
    script(src='https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js' type='application/javascript' )
    meta(name="description" content="Textos para el Trabajo de Conciencia, por Sebastián Rojo")
    meta(name="robots" content="index, follow")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="UTF-8")
  body
    block contenido
    
