extends layout

include cabecera

block contenido
  article.texto.propuestas
    h2 Propuestas
      h3 Talleres
      a(href="/talleres/integrador-movimiento")
        section
          div
            h4 Integrador de Movimiento
            hr
          p Enfoque integrador de la dialéctica Cuerpo-Mente-Espíritu y de la relación entre lo Interno y lo externo
      a(href="/talleres/malabareando")
        section
          div
            h4 Malabareando un no-malabar
            hr
          p Estancia de Investigación para malabaristas
      a(href="/talleres/esde")
        section
          div
            h4 El Silencio Donde Escucho
            hr
          p Taller Entrenamiento de Presencia Activa
      a(href="/talleres/accion")
        section
          div
            h4 Los movimientos -en la práctica de la presencia- son "Acción"
            hr
          p "Cada lenguaje, el gesto de una mano, el toque en una cuerda, un pincel que se desliza, el lanzamiento de un objeto, cada uno, es un movimiento. Y un movimiento es también lo que lo generó”
