extends layout

include cabecera

block contenido
  article.texto.propuestas
    h2 Propuestas
    
    h3 Talleres
    
    a(href="/propuestas/integrador-movimiento")
      section
        div
          h4 Integrador de Movimiento
          hr
        p Enfoque integrador de la dialéctica Cuerpo-Mente-Espíritu y de la relación entre lo Interno y lo externo
        
    a(href="/propuestas/malabareando")
      section
        div
          h4 Malabareando un no-malabar
          hr
        p Estancia de Investigación para malabaristas
        
    a(href="/propuestas/esde")
      section
        div
          h4 El Silencio Donde Escucho
          hr
        p Taller Entrenamiento de Presencia Activa
        
    a(href="/propuestas/accion")
      section
        div
          h4 Los movimientos -en la práctica de la presencia- son "Acción"
          hr
        p "Cada lenguaje, el gesto de una mano, el toque en una cuerda, un pincel que se desliza, el lanzamiento de un objeto, cada uno, es un movimiento. Y un movimiento es también lo que lo generó”
    
    
    h3 Encuentros
    
    a(href="/propuestas/grupal")
      section
        div
          h4 Formato Anual Grupal
          hr
        p Este primer modulo abre el trabajo para la investigación y exploración sobre nosotros mismos, a nivel vivencial y conceptual. Las partes que componen lo que somos, cómo funcionan, cuál es nuestra naturaleza esencial y cuál la adquirida, cuál es y de qué consta un Real Trabajo sobre sí mismo sin formas predeterminadas.
        
    a(href="/propuestas/personalizado")
      section
        div
          h4 Formato Personalizado
          hr
        p Se abre un espacio-tiempo para iniciar un proceso individual de trabajo sobre sí mismo, dando la atención y cuidado precisos.

    a(href="/propuestas/abierta")
      section
        div
          h4 Formato Charla Abierta
          hr
        p La misma se propone sin dirección ni recorrido determinado de antemano, sino que se confía en que tome la forma que le corresponda por intermedio de las cuestiones que atraviesen a los asistentes en torno a estos temas.
