extends layout

include cabecera

block contenido
  script(src="/js/hammer.min.js")
  script(src="/js/touch.js")
  //- script(src="/js/general.js")
  
  script.
    
    const agregar_scroll_a_backref = () => {
      document.querySelectorAll('.footnote-backref').forEach(r => {
        const target = document.querySelector(r.getAttribute('href'))
        r.addEventListener('click', e => {
          e.preventDefault()
          document.querySelector('main').scrollTo({
            top: target.offsetTop-window.innerHeight/4,
            left: 0,
            behavior: 'smooth'
          })
          target.classList.add('backref-highlight')
          setTimeout(() => target.classList.remove('backref-highlight'), 2000)
        })
      })
    }
    
    const agregar_highlights_a_ref = () => {
      document.querySelectorAll('.footnote-ref a').forEach(r => {
        const target = document.querySelector(r.getAttribute('href'))
        r.addEventListener('click', e => {
          e.preventDefault()
          document.querySelector('main').scrollTo({
            top: target.offsetTop,
            left: 0,
            behavior: 'smooth'
          })
          target.classList.add('ref-highlight')
          setTimeout(() => target.classList.remove('ref-highlight'), 2000)
        })
      })
    }
    
    window.lastScrollY = 0;
    const revelar_barra = () => {
      //- console.log()
      if(window.scrollY - window.lastScrollY > 0){
        document.querySelector('header').classList.remove('habitado')
      }else{
        document.querySelector('header').classList.add('habitado')
      }
      window.lastScrollY = window.scrollY
    }
      
    window.addEventListener('scroll', revelar_barra)
    window.addEventListener('load', corregir_imagenes)
    window.addEventListener('load', agregar_scroll_a_backref)
    window.addEventListener('load', agregar_highlights_a_ref)
    
  //- El contenido viene en html, del md parseado
  article.texto!= cont
    address.firma.piel
      p Sebastián Rojo
      p "El Silencio Donde Escucho"
