
#indice
  background-image: url(/icon/journal.png)
  position: absolute
  top: 0
  right: 0
  margin: 0
  margin-right: 1em
  width: 2em
  height: 2em

#cabecera
  position: fixed
  z-index: 1

  h1
    letter-spacing: 2px
    margin: 0px
    font-size: 2.5em
    transition-duration: 0.8s

  .intro
    text-transform: uppercase
    background-color: #fff
    font-family: 'Julius Sans One', sans-serif
    letter-spacing: 2px
    padding: 2em 10%
    transition-duration: 0.5s

  .frase
    font-size: 0.8em
    transition-duration: 0.9s

  nav
    background-color: #d7eac9
    border-bottom: 2px solid rgba(0,0,0,.15)
    height: 2em
    display: flex
    align-items: center
    justify-content: space-around
    padding: 0% 20%
    transition-duration: 0.8s

    a
      line-height: 2em

    li
      flex-grow: 1
      text-align: center
      font-size: 0.9em
      transition-duration: 1s
      list-style: none
      height: 100%

      &:hover
          background-color: #5f9ea066
      p
        margin: 0
      .btn
        opacity: 0
        visibility: collapse




@mixin barra-contraida
  .intro
    padding: 5px
    min-height: 2em
    h1
      font-size: 1em
      margin: 0.5em
      text-align: left
  nav
    padding: 0px
    height: 0px
    a
      font-size: 0px
  .frase
    z-index: 0
    opacity: 0
    max-height: 0
    text-align: left
    p
      margin: 0
      max-height: 0
  #indice
    visibility: visible
    opacity: 1



#cabecera.contraida
  @include barra-contraida


@media (max-width: 1060px)

  #cabecera
    @include barra-contraida

  #cabecera *
    transition: 0s
  #indice
    margin-top: 0.25em

/*.nav a:hover
    background-color: #5f9ea066*/
