@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap")

header
  position: fixed
  z-index: 1
  width: 100vw
  padding: 0.5em
  background-color: rgba(255,255,255,0.65)
  border-bottom: 1px solid black
  display: flex
  align-items: center

  h1
    font-family: 'Libre Baskerville', sans-serif
    font-size: 1em
    margin: 0.5em
    letter-spacing: 0.28em
    text-transform: uppercase
    display: inline-block
    transition: .5s
    &:hover
      text-shadow: 1px 1px #b4b4b4

  nav
    display: flex
    align-items: center
    flex-grow: 1
    justify-content: right
    margin-right: 1.6em

    a
      transition: .4s
      display: block
      text-transform: uppercase
      padding: 1em
      color: black
      &:hover
        text-shadow: 2px 2px #cdcdcd
