@use "sass:meta"
@use "editor/iconos"

/* Editor */

@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap")


@mixin fondo_editor
  background-color: #fffd
  background-image: url(/img/arbol.jpg)
  background-size: cover
  background-blend-mode: color-burn

@mixin flex_column_center
  display: flex
  flex-direction: column
  justify-items: center
  align-items: center



#editor
  @include fondo_editor
  height: 100vh
  width: 100vw
  display: flex

  #controles
    @include flex_column_center
    max-width: 3em
    border: 1px solid black
    background: #e6f3ff

  #paneles
    width: 100%
    display: flex
    flex-direction: row

    @include meta.load-css("editor/arbol")
    @include meta.load-css("editor/imagenes")
    @include meta.load-css("editor/md")
    @include meta.load-css("editor/previa")

    .panel
      overflow-y: scroll
      max-width: 0px
      width: 100%
      scrollbar-width: none
      &.expandido
        max-width: max-content
        border: 1px solid black




@keyframes eyecall
  from
    box-shadow: inset 0px 0px 0px
  50%
    box-shadow: inset 0px 0px 5px orange
  to
    box-shadow: inset 0px 0px 0px

.call_eye
  animation-duration: 0.5s
  animation-name: eyecall


// js-tree-context
.vakata-context
  position: absolute
  background: #f0f0f0
  border: 1px solid #c4c4c4
  padding: 0
  list-style: none
  li
    padding: 0 0.3em
    &:hover
      background: #ffeed0
      border: 1px solid #ffdeb4
