/* Escrito */

$color-1: rgb(252, 250, 243)
$color-2: rgba(226, 247, 235, 0.5)

$color-3: #f6ba8f66
$color-4: #8bbcfc

$color-5: #d8e3e3
$color-6: #d8d3cd

.escrito
  p
    padding: 0px 25% 0px 25%
  h2,h3,h4
    font: 1.7em 'Julius Sans One'
    padding: 0px 20%
    padding-top: 50px
    background-attachment: fixed
    background-color: $color-2
    background-image: url(/img/bamboo.png)
  background: $color-1

.ventana
  background-attachment: fixed
  background-image: url(vida.jpg)
  background-size: cover
  height: $altura-ventanas

.piel1
  padding: 5px 0px
  background-attachment: fixed
  background-color: $color-2
  background-image: url(/img/bamboo.png)

.piel2
  padding: 5px 0px
  background-attachment: fixed
  background-color: $color-3
  background-image: url(/img/bamboo.png)

.piel3
  padding: 5px 0px
  background-attachment: fixed
  background-color: $color-4
  background-image: url(/img/bamboo.png)

.firma
  text-align: right
  padding-right: 5%
  padding-bottom: 15%
