/* Escrito */

// EN DESUSO

$color-1: rgb(252, 250, 243)
$color-2: rgba(226, 247, 235, 0.5)

$color-3: #f6ba8f66
$color-4: #8bbcfc

$color-5: #d8e3e3
$color-6: #d8d3cd

.texto
  background: url(/img/ruido.png) fixed
  // width: 100vw
  margin: 0
  display: flex
  flex-direction: column
  // overflow-y: scroll
  h2
    padding: 0em 20%
    padding-top: 1.8em
  h3, h4
    padding: 0.2em 20%
  p
    padding: 0px 25% 0px 25%


.footnote-item
  margin: 0 20vw

.footnote-item p
  padding: 0

.backref-highlight
  border-radius: 20%
  animation: 2s ease-in backref-highlight

.ref-highlight
  &::marker
    animation: 2s ease-in ref-highlight

@keyframes backref-highlight
  0%
    background-color: #75d2ff
    padding: 0.2em
  100%
    background-color: #75d2ff00
    padding: 0em

@keyframes ref-highlight
  0%
    color: #75d2ff
    font-size: 2em
  100%
    color: #000
    font-size: 1em

.ventana
  background-attachment: var(--attach-default)
  background-image: var(--url-imagen) /* Se espera que esté definida en el elemento*/
  background-size: var(--escala, var(--escala-default))
  background-position: var(--posicion, var(--posicion-default))
  height: var(--altura-ventanas)


.piel
  padding: var(--pad, var(--pad-default))
  background-attachment: var(--attach, var(--attach-default))
  background-color: var(--color, var(--color-default))
  background-image: var(--textura, var(--textura-default))
  background-blend-mode: var(--blend, var(--blend-default))
