/* Escrito */


:root{
  --color-base: #fcfaf4;
  --color-default: #e2f7eb88;
  --textura-default: url(/img/bamboo.png);
  --blend-default: hard-light;
  --attach-default: fixed;
  --pad-default: 5px 0px;
  --altura-ventanas: 400px;
  --escala-default: cover;
  --posicion-default: center;
}




.hojas{
  background-image: url(/img/hojas.jpg);
  background-color: #ffb8a7;
  background-blend-mode: color-dodge;
}


.verde{
  background-color: #e2f7eb88;
}

.naranja{
  background-color: #f6ba8f66;
}

.celeste{
  background-color: #d7e8ff;
}


.firma{
  text-align: right;
  padding-bottom: 3em;
  flex: 1 0 auto;
}

blockquote {
    text-align: right;
    font-style: italic;
}
