@charset "UTF-8";
/* Sitio */
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=DM+Serif+Display:ital@0;1&family=Fredericka+the+Great&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
body {
  font: 1em 'EB Garamond', serif;
  margin: 0;
  padding: 0; }

a {
  color: black;
  text-decoration: none; }

main {
  height: 100vh;
  width: 100vw;
  position: absolute; }

hr {
  border: 1px solid #e7e7e7; }

.error {
  padding: 10%; }

header {
  position: fixed;
  z-index: 1;
  width: 100vw;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.65);
  border-bottom: 1px solid black;
  display: flex;
  align-items: center; }
  header h1 {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 1em;
    margin: 0.5em;
    letter-spacing: 0.28em;
    text-transform: uppercase;
    display: inline-block;
    transition: .5s; }
    header h1:hover {
      text-shadow: 1px 1px #b4b4b4; }
  header nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: right;
    margin-right: 1.6em; }
    header nav a {
      transition: .4s;
      display: block;
      text-transform: uppercase;
      padding: 1em;
      color: black; }
      header nav a:hover {
        text-shadow: 2px 2px #cdcdcd; }

/* Editor */
/* Area del editor */
#editor {
  height: 100%;
  width: 100vw;
  display: flex;
  background-color: #fffd;
  background-image: url(/img/arbol.jpg);
  background-size: cover;
  background-blend-mode: color-burn; }
  #editor > div {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none; }

.panel {
  overflow-y: scroll;
  max-width: 0px; }
  .panel.expandido {
    max-width: 3000px;
    border: 1px solid black; }

/* Barra */
#controles {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  max-width: 3em;
  border: 1px solid black;
  background: #e6f3ff; }

.btn {
  width: 2em;
  min-width: 2em;
  height: 2em;
  margin: 1em;
  background-size: cover;
  cursor: pointer;
  box-sizing: border-box; }
  .btn:hover {
    background-color: #fffa;
    background-blend-mode: multiply;
    border: 1px solid; }

/* Íconos del árbol */
.carpeta-icono {
  background-image: url(/icon/folder.png) !important;
  background-size: cover; }

.texto-icono {
  background-image: url(/icon/articulo.png) !important;
  background-size: cover; }

/* Botones de la barra */
#texto {
  background-image: url(/icon/pen-2.png); }

#preview {
  background-image: url(/icon/preview-2.png); }

#archivos {
  background-image: url(/icon/tree-1.png); }

#imgs {
  background-image: url(/icon/image.png); }

#menu {
  background-image: url(/icon/journal.png); }

#csss {
  background-image: url(/icon/curly-brackets.png); }

#logout {
  background-image: url(/icon/logout.png); }

#nuevo {
  background-image: url(/icon/new.png); }

#borrar {
  background-image: url(/icon/trash.png); }

#subir_imagen {
  background-image: url(/icon/new.png); }

#borrar_imagen {
  background-image: url(/icon/trash.png);
  margin-top: auto; }

#cerrar {
  background-image: url(/icon/close.png);
  margin-left: auto;
  opacity: 0;
  transition: .1s;
  justify-self: flex-end;
  border: none; }
  #cerrar:hover {
    opacity: 1;
    background-color: #fff0; }

@keyframes eyecall {
  from {
    box-shadow: inset 0px 0px 0px; }
  50% {
    box-shadow: inset 0px 0px 5px orange; }
  to {
    box-shadow: inset 0px 0px 0px; } }

.call_eye {
  animation-duration: 0.5s;
  animation-name: eyecall; }

/* Botones del area de texto */
#guardar {
  background-image: url(/icon/save.png); }

#reset {
  background-image: url(/icon/reset.png); }

#nombre {
  transition: .7s;
  padding: 5px;
  border: 1px solid white;
  font-size: 1.3em; }
  #nombre:hover {
    background-color: #fcfaf4;
    border: 1px solid antiquewhite; }
  #nombre:focus {
    outline: none; }

#status {
  visibility: collapse; }

/* Paneles */
#arbol {
  border: 1px solid black; }
  #arbol p {
    margin: 0;
    display: inline; }

#md > div {
  display: flex;
  background: white;
  overflow: scroll; }

#md textarea {
  border: none;
  border-right: 1px solid #d7eac9;
  width: 100%;
  height: 100%;
  font-family: 'Cutive Mono', monospace;
  scrollbar-width: none;
  box-sizing: border-box;
  padding: 10px; }
  #md textarea:focus {
    outline: none; }

#md.vacio textarea {
  visibility: hidden; }

#md.vacio > div {
  border-bottom: 1px solid #ffc6a4; }

#md.vacio #guardar {
  visibility: collapse; }

#md.vacio #reset {
  visibility: collapse; }

#md.vacio #status {
  visibility: collapse; }

#md.vacio #nombre {
  visibility: collapse; }

#md.vacio #borrar {
  visibility: collapse; }

#md.vacio #cerrar {
  visibility: collapse; }

#md.nuevo #nuevo {
  visibility: collapse; }

#md.nuevo #reset {
  visibility: collapse; }

#md.nuevo #nombre {
  box-shadow: inset 0px 0px 5px orange; }

#md.nuevo #borrar {
  visibility: collapse; }

#md.editado #nuevo {
  visibility: collapse; }

#md.editado #cerrar {
  visibility: collapse; }

#md.editado #reset {
  visibility: visible; }

#md.editado #borrar {
  visibility: collapse; }

#md.guardado #guardar {
  visibility: collapse; }

#md.guardado #reset {
  visibility: collapse; }

#md.guardado #status {
  visibility: collapse; }

#md.guardado textarea {
  box-shadow: inset 0px 0px 5px #bfff9b; }

#imagenes {
  display: flex; }
  #imagenes > div {
    display: flex;
    flex-direction: column;
    background: white;
    overflow: scroll;
    border-right: 1px solid #ffc6a4; }

#vitrina {
  width: 100%;
  display: flex;
  flex-direction: column; }
  #vitrina > img {
    margin: 20px;
    border: 2px solid; }
  #vitrina .seleccionada {
    box-shadow: 0px 0px 10px 3px #70ebff; }

#archivo_imagen {
  display: none; }

#previa p {
  padding: 0px 5% 0px 5%; }

#previa h2, #previa h3, #previa h4 {
  font: 1.7em 'Julius Sans One';
  padding: 5% 2%;
  margin: 0; }

#previa img {
  width: 100%; }

#flash {
  transition: 1s;
  position: fixed;
  visibility: collapse;
  opacity: 0;
  height: max-height;
  width: 60em;
  max-height: 0em;
  max-width: 0em;
  border: 0px solid;
  border-radius: 5px;
  top: 3em;
  left: 8em;
  padding: 0em; }
  #flash p {
    margin: 0; }
  #flash a {
    top: 0;
    right: 0;
    position: absolute;
    padding: 0.3em;
    border: 0px solid #fff;
    border-radius: 5px; }
    #flash a:hover {
      background: #72da873b; }
  #flash.expandido {
    opacity: 1;
    border: 1px solid;
    visibility: visible;
    max-height: 10em;
    max-width: 60em;
    padding: 1em;
    background: antiquewhite; }
    #flash.expandido:hover {
      background: #faebd769; }

/* Este sería para los talleres, título en overlay sobre imagen */
.taller {
  padding-bottom: 5em; }
  .taller h2 {
    font: 3.4em 'Cinzel';
    background: none;
    text-align: right;
    margin-top: 2em;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
  .taller .ventana {
    display: flex;
    border-bottom: 2px solid black;
    height: min-content; }
  .taller img {
    display: none; }
  .taller hr {
    width: 30%; }

.propuestas {
  padding-bottom: 5em; }
  .propuestas h2, .propuestas h3, .propuestas h4 {
    font-family: 'Cinzel'; }
  .propuestas h2 {
    font-size: 2.6em; }
  .propuestas h3 {
    font-size: 1.8em;
    margin-bottom: 0; }
  .propuestas section div {
    display: flex;
    align-items: center;
    padding: 0.2em 20%; }
    .propuestas section div:hover hr {
      opacity: 1; }
    .propuestas section div h4 {
      flex-grow: 1;
      min-width: max-content;
      padding: 0.2em; }
    .propuestas section div hr {
      border: 1px solid #b5b5b5;
      transition: .6s;
      flex-grow: 50;
      opacity: 0; }

/* Escrito */
.texto {
  background: url(/img/ruido.png) fixed;
  margin: 0;
  display: flex;
  flex-direction: column; }
  .texto h2 {
    padding: 0em 20%;
    padding-top: 1.8em; }
  .texto h3, .texto h4 {
    padding: 0.2em 20%; }
  .texto p {
    padding: 0px 25% 0px 25%; }

.escrito {
  width: 100vw;
  padding: 0;
  /* Not supported yet :( */ }
  .escrito h2 {
    margin-top: 3em;
    margin-bottom: 0;
    background: var(--attach-default) var(--color-default) var(--textura-default); }
  .escrito h3, .escrito h4 {
    padding-top: 0.8em; }
  .escrito p:has(> img) {
    padding: 0;
    background-color: azure; }
  .escrito img {
    width: 100%; }

.ventana {
  background-attachment: var(--attach-default);
  background-image: var(--url-imagen);
  background-size: var(--escala, var(--escala-default));
  background-position: var(--posicion, var(--posicion-default));
  height: var(--altura-ventanas); }

.piel {
  padding: var(--pad, var(--pad-default));
  background-attachment: var(--attach, var(--attach-default));
  background-color: var(--color, var(--color-default));
  background-image: var(--textura, var(--textura-default));
  background-blend-mode: var(--blend, var(--blend-default)); }

/*# sourceMappingURL=style.css.map */