body{
  font-size: 16px;
}


.volver{
  background: aliceblue;
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
}

/* SVG */

.vidriera{
  font-family: 'EB Garamond';
  font-weight: 200;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.entrada .titulo{
  font-size: 3em;
}

.entrada .pie{
  font-size: 1.5em;
}

.entrada circle{
  stroke-width: 5px;
  stroke-opacity: 0.5;
  transition: 0.6s;
}

.resaltado circle{
  transform: scale(1.1);
}

.entrada.visitado circle{
  fill-opacity: 0.5;
}

.entrada.no_visitado circle{
  fill-opacity: 0.2;
}

.cabecera{
  font-size: 15em;
  opacity: 0.1;
}
